/* contêiner */
.container {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F4C2C2;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-top: 100px; /* Espaço do topo */
}

/* imagem de perfil */
.profile-img {
  width: 150px; /* Largura da imagem */
  height: 150px; /* Altura da imagem */
  border-radius: 50%; /* Torna a imagem circular */
  margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

/* Estilo Thais */
h1 {
  font-size: 2rem; /* Tamanho do nome */
  color: #FF69B4; /* Cor do nome */
}

/*descrição */
p {
  font-size: 1rem; /* Tamanho do texto */
  color: #000000; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento inferior */
}

/*hobbies */
ul {
  list-style-type: none; /* Remove o marcador padrão da lista */
  padding: 0;
}

ul li {
  font-size: 1.1rem; /* Tamanho do texto na lista */
  color: #C08081; /* Cor do texto */
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

